.center {
    text-align:center;
}

.left {
    float:left;
}

.right {
    float:right;
}

.cleafix {
	overflow: auto;
  	zoom: 1;
}

.hide {
	display: none;
}

.inline {
	display:inline;
}

.inline-block {
	display:inline-block;
}