$blue: #3bbfce;
$margin: 16px;



//   Colors
//   ======
$gray-darker:  #222;
$gray-dark:    #333;
$gray:         #555;
$gray-light:   #777;
$gray-lighter: #eee;


$color-primary: #428bca;
$color-success: #5cb85c;
$color-info:    #5bc0de;
$color-warning: #f0ad4e;
$color-danger:  #d9534f;