@import "_zindex";
@import "_variables";

.top-nav {
	padding: .8em 0.4em;
	
	border-bottom: 1px solid transparent;
	opacity:0.5;
	transition: border-color 0.4s ease-in-out, 
				background-color 0.2s ease-in-out, 
				opacity 0.4s ease-in-out;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-top-nav;

	&:hover {
		border-color:rgba(255,255,255,0.2);
		background-color: rgba(0,0,0,0.1);
		opacity:1.0;
	}
}

.nav-btn {
	box-shadow: none;
	border: none;
	height: auto !important;

	margin: 0 .25em;
	padding: .4em .8em;
	border-radius: .25rem;

	color:#fefefe;

	&:hover {
		background-color: rgba(0,0,0,0.3);
	}
}

$search-button-width: 35px;
$search-button-vertical-padding: 7px;

.search-button {
    color: #fefefe;
    position: absolute;
    right: 0;
    padding: $search-button-vertical-padding 10px;
}

.search-bar-wrapper {
    margin: -$search-button-vertical-padding 0;
    position: relative;

    .search-bar {
        padding: $search-button-vertical-padding $search-button-width $search-button-vertical-padding 12px;
        border: none;
        border-radius: 8px;
        background-color: rgba(0,0,0,0.4);
        color: #fefefe;
        font-size: 0.9em;


        &:focus {

        }
    }
}