.top-nav {
	padding: .8em 0.4em;
	
	border-bottom: 1px solid transparent;
	opacity:0.5;
	transition: border-color 0.4s ease-in-out, 
				background-color 0.2s ease-in-out, 
				opacity 0.4s ease-in-out;

	&:hover {
		border-color:rgba(255,255,255,0.2);
		background-color: rgba(0,0,0,0.1);
		opacity:1.0;
	}
}

.nav-btn {
	box-shadow: none;
	border: none;
	height: auto !important;

	margin: 0 .25em;
	padding: .4em .8em;
	border-radius: .25rem;

	color:#fefefe;

	&:hover {
		background-color: rgba(0,0,0,0.3);
	}
}