<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Viki</title>
        <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/core.css" rel="stylesheet">
    </head>
    <body>
        <div id="main" class="container"></div>
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/js/lib.js"></script>
        <script><%
            var data = request.hydrate();

            for (var store in data) { %>
            Hydrate("<%= store %>", <%- JSON.stringify(data[store]) %>);
            <% } %>
        </script>
        <script src="/js/main.js"></script>
    </body>
</html>